ion-card-subtitle {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1.57em;
  line-height: 1.4em;
  color: #252422;
  font-weight: bold;
}

ion-card {
  border-radius: 10px;
}

.graph-container {
  height: 350px;
}