<ngx-spinner [fullScreen]="true"></ngx-spinner>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="casper" autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot="end">
      <app-favorite [validator]="validator" [environment]="casperEnvironment"></app-favorite>
      <ion-button color="casper" routerLink="/notifications">
        <fa-icon icon="bell" slot="icon-only">
        </fa-icon>
      </ion-button>
      <ion-button color="casper" routerLink="/">
        <fa-icon icon="home" slot="icon-only">
        </fa-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngIf="validatorInfos !== undefined">

      <swiper style="width:100%" pager="false" [config]="slideOptions">
        <ng-template swiperSlide>
          <app-bloc-info style="width:100%" name="Total Of CSPR Staked" [value]="validatorInfos.currentCsprStaked | number:'1.2-2':'fr'" icon="sort-numeric-up" iconColor="#badc58" [info]="'Total at Era ' + validatorInfos.currentEra"></app-bloc-info>
        </ng-template>
        <ng-template swiperSlide>
          <app-bloc-info style="width:100%" name="Fees" [value]="validatorInfos.currentDelegationRate + '%'" [icon]="['far','credit-card']" iconColor="#fbc658" info="Current fees applied to the rewards"></app-bloc-info>
        </ng-template>
        <ng-template swiperSlide>
          <app-bloc-info style="width:100%" name="APY" [value]="validatorInfos.previousAPY + '%'" icon="list-ul" iconColor="#ef8157" [info]="'APY at Era ' + validatorInfos.previousEra"></app-bloc-info>
        </ng-template>
        <ng-template swiperSlide>
          <app-bloc-info style="width:100%" name="Current Price" [value]="validatorInfos.currentPrice + '$'" icon="random" iconColor="#51cbce" [info]="'Price at '+validatorInfos.currentPriceDate"></app-bloc-info>
        </ng-template>
      </swiper>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Price's Evolution</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content *ngIf="priceChartData != undefined">
            <div class="graph-price-container">
              <canvas baseChart
              [datasets]="priceChartData"
              [labels]="priceChartLabels"
              [options]="lineChartOptions"
              [colors]="priceChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              [plugins]="lineChartPlugins">
            </canvas>
            </div>
            <app-card-info text="Price over the last 15 days based on Coingecko API"></app-card-info>

          </ion-card-content>

        </ion-card>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>APY's Evolution</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <div class="graph-container">
              <canvas *ngIf="apyChartData != undefined" baseChart
              [datasets]="apyChartData"
              [labels]="apyChartLabels"
              [options]="lineChartOptions"
              [colors]="apyChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              [plugins]="lineChartPlugins">
            </canvas>
            </div>
            <app-card-info text="Based on the last 12 Era's"></app-card-info>

          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Total CSPR Staked's Evolution</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <div class="graph-container">
              <canvas *ngIf="totalCSPRChartData != undefined" baseChart
              [datasets]="totalCSPRChartData"
              [labels]="totalCSPRChartLabels"
              [options]="lineChartOptions"
              [colors]="totalCSPRChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              [plugins]="lineChartPlugins">
            </canvas>
            </div>
            <app-card-info text="Based on the last 12 Era's"></app-card-info>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Delegators's Evolution</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <div class="graph-container">
              <canvas *ngIf="delegatorsChartData != undefined" baseChart
              [datasets]="delegatorsChartData"
              [labels]="delegatorsChartLabels"
              [options]="lineChartOptions"
              [colors]="delegatorsChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              [plugins]="lineChartPlugins">
            </canvas></div>
            <app-card-info text="Based on the last 12 Era's"></app-card-info>

          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Rewards's Evolution</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <div class="graph-container">

              <canvas *ngIf="rewardsChartData != undefined" baseChart
              [datasets]="rewardsChartData"
              [labels]="rewardsChartLabels"
              [options]="lineChartOptions"
              [colors]="rewardsChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              [plugins]="lineChartPlugins">
            </canvas>
            </div>
            <app-card-info text="Based on the last 12 Era's"></app-card-info>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Delegations's Evolution</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <div class="graph-container">
              <canvas *ngIf="delegationsChartData != undefined" baseChart
              [datasets]="delegationsChartData"
              [labels]="delegationsChartLabels"
              [options]="lineChartOptions"
              [colors]="delegationsChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              [plugins]="lineChartPlugins">
            </canvas></div>
            <app-card-info text="Based on the last 12 days"></app-card-info>

          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Undelegations's Evolution</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <div class="graph-container">

              <canvas *ngIf="undelegationsChartData != undefined" baseChart
              [datasets]="undelegationsChartData"
              [labels]="undelegationsChartLabels"
              [options]="lineChartOptions"
              [colors]="undelegationsChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              [plugins]="lineChartPlugins">
            </canvas>
            </div>
            <app-card-info text="Based on the last 12 days"></app-card-info>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>